<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Members</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>Meet Our Team</h2>
        <div class="row">
            <div class="col-md-4 team-member">
                <img src="divya.jpg" alt="Divya">
                <h4>Divya</h4>
                <p>Team Lead</p>
            </div>
            <div class="col-md-4 team-member">
                <img src="tanvi.jpg" alt="Tanvi">
                <h4>Tanvi</h4>
                <p>Developer</p>
            </div>
            <div class="col-md-4 team-member">
                <img src="prachi.jpg" alt="Prachi">
                <h4>Prachi</h4>
                <p>Researcher</p>
            </div>
        </div>
    </div>
</body>
</html>
