<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>True News Examples</title>
<style>
  body { background-image:url(" img2.jpeg");
         height:10vh;
         background-size: cover;
         background-position: center;
}
  img{
       width: 350px;
       height: 350px;
       object-fit: cover; 
}

</style>
</head>
<body>
    <h2>True News Examples</h2>
    <ul>
        {% for headline in headlines %}
            <li>{{ headline }}</li>
        {% endfor %}
    </ul>
</body>
</html>